## match dataframe

In [25]:
import pandas as pd

In [26]:
matchdf = pd.read_csv("DataSet\IPL Matches 2008-2020.csv")

In [53]:
matchdf.head(2)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri

In [54]:
matchdf.tail(2)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

#### total number of match

In [6]:
print("The total number of match is :", matchdf.shape[0])

The total number of match is : 816

#### team won by maximum runs

In [12]:
max_runs = matchdf.loc[matchdf['result_margin'].idxmax()]

In [13]:
team = max_runs['winner']
print("The team that won by the maximum number of runs is :", team)

The team that won by the maximum number of runs is : Mumbai Indians

#### team won by minimum runs

In [14]:
min_runs = matchdf.loc[matchdf['result_margin'].idxmin()]

In [15]:
team = min_runs['winner']
print("The team that won by the minimum number of runs is :", team)

The team that won by the minimum number of runs is : Kings XI Punjab

#### team won by maximum wickets

In [18]:
max_wickets = matchdf.loc[matchdf['result_margin'].idxmax()]

In [19]:
team = max_wickets['winner']
print("The team that won by the maximum number of wickets is :", team)

The team that won by the maximum number of wickets is : Mumbai Indians

#### team won by minimum wickets

In [20]:
min_wickets = matchdf.loc[matchdf['result_margin'].idxmin()]

In [21]:
team = min_wickets['winner']
print("The team that won by the minimum number of wickets is :", team)

The team that won by the minimum number of wickets is : Kings XI Punjab

#### most successful team

In [24]:
team_wins = matchdf['winner'].value_counts()

In [25]:
most_successful_team = team_wins.idxmax()
print("The most successful team is :", most_successful_team)

The most successful team is : Mumbai Indians

#### most successful player

In [26]:
player_of_match_counts = matchdf['player_of_match'].value_counts()

In [27]:
most_successful_player = player_of_match_counts.idxmax()
print("The most successful player is :", most_successful_player)

The most successful player is : AB de Villiers

#### %ge of winner if they also won the toss

In [28]:
total_matches = len(matchdf)

In [31]:
won_by_toss = matchdf[matchdf['toss_winner'] == matchdf['winner']]

In [32]:
total_won_by_toss = len(won_by_toss)

In [33]:
percentage = (total_won_by_toss / total_matches) * 100
print("The percentage of matches won by the toss winner is :", percentage)

The percentage of matches won by the toss winner is : 51.225490196078425

#### %ge of winner if did batting first

In [34]:
total_matches = len(matchdf)

In [38]:
won_by_batting = matchdf[matchdf['toss_decision'] == 'bat'][matchdf['team1'] == matchdf['winner']]

C:\Users\91942\AppData\Local\Temp\ipykernel_11484\3834431319.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  won_by_batting = matchdf[matchdf['toss_decision'] == 'bat'][matchdf['team1'] == matchdf['winner']]

In [44]:
total_won_by_batting = len(won_by_batting)

In [45]:
percentage = (total_won_by_batting / total_matches) * 100
print("The percentage of matches won by the team batting first is :", percentage)

The percentage of matches won by the team batting first is : 22.916666666666664

#### %ge of winner if did bowling first

In [4]:
total_matches = len(matchdf)

In [5]:
won_by_bowling = matchdf[matchdf['toss_decision'] == 'field'][matchdf['team2'] == matchdf['winner']]

C:\Users\91942\AppData\Local\Temp\ipykernel_10344\271668222.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  won_by_bowling = matchdf[matchdf['toss_decision'] == 'field'][matchdf['team2'] == matchdf['winner']]

In [6]:
total_won_by_bowling = len(won_by_bowling)

In [7]:
percentage_won_by_bowling_first = (total_won_by_bowling / total_matches) * 100
print("The percentage of matches won by the team bowling first is :", percentage_won_by_bowling_first)

The percentage of matches won by the team bowling first is : 28.799019607843135

#### findout the null value from dataframe and replaced with apropriate value

In [27]:
matchdf.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [28]:
matchdf_mode = matchdf['city'].mode().iloc[0]

In [29]:
matchdf_mode

'Mumbai'

In [33]:
matchdf["city"] = matchdf['city'].fillna(matchdf_mode)

In [34]:
matchdf.isnull().sum()

id                   0
city                 0
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [40]:
matchdf_mode = matchdf['player_of_match'].mode().iloc[0]

In [41]:
matchdf_mode

'AB de Villiers'

In [42]:
matchdf["player_of_match"] = matchdf['player_of_match'].fillna(matchdf_mode)

In [43]:
matchdf.isnull().sum()

id                   0
city                 0
date                 0
player_of_match      0
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [44]:
matchdf_mode = matchdf['winner'].mode().iloc[0]

In [45]:
matchdf_mode

'Mumbai Indians'

In [46]:
matchdf["winner"] = matchdf['winner'].fillna(matchdf_mode)

In [47]:
matchdf.isnull().sum()

id                   0
city                 0
date                 0
player_of_match      0
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               0
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [49]:
matchdf_mode = matchdf['winner'].mode().iloc[0]

In [50]:
matchdf_mode

'Mumbai Indians'

In [53]:
matchdf["winner"] = matchdf['winner'].fillna(matchdf_mode)

In [54]:
matchdf.isnull().sum()

id                   0
city                 0
date                 0
player_of_match      0
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               0
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [55]:
matchdf_mode = matchdf['result'].mode().iloc[0]

In [56]:
matchdf_mode

'wickets'

In [57]:
matchdf["result"] = matchdf['result'].fillna(matchdf_mode)

In [58]:
matchdf.isnull().sum()

id                   0
city                 0
date                 0
player_of_match      0
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               0
result               0
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [66]:
matchdf["result_margin"] = matchdf['result_margin'].fillna(matchdf["result_margin"].mean())

In [67]:
matchdf.isnull().sum()

id                   0
city                 0
date                 0
player_of_match      0
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               0
result               0
result_margin        0
eliminator           0
method             797
umpire1              0
umpire2              0
dtype: int64

In [59]:
matchdf_mode = matchdf['eliminator'].mode().iloc[0]

In [60]:
matchdf_mode

'N'

In [61]:
matchdf["eliminator"] = matchdf['eliminator'].fillna(matchdf_mode)

In [62]:
matchdf.isnull().sum()

id                   0
city                 0
date                 0
player_of_match      0
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               0
result               0
result_margin       17
eliminator           0
method             797
umpire1              0
umpire2              0
dtype: int64

In [70]:
matchdf = matchdf.dropna()

In [71]:
matchdf.isnull().sum()

id                 0
city               0
date               0
player_of_match    0
venue              0
neutral_venue      0
team1              0
team2              0
toss_winner        0
toss_decision      0
winner             0
result             0
result_margin      0
eliminator         0
method             0
umpire1            0
umpire2            0
dtype: int64