In [1]:
a = 10
b = "Gujarat Vidhyapith"
c = 7.7
d = True

In [2]:
#type function used to know datatype of variable
print (type(a))
print (type(b))
print (type(c))
print (type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [3]:
b = False
print (b)

False

In [4]:
#python take integer value of boolean datatype (True = 1, False = 0)
print (True+1)

2

In [5]:
#everything wrritten in single qoutation is considered as a string 
#string is immutable datatype
s='1234'
print(s)

1234

In [6]:
#'+' operator used to concatenation
print("Welcome to 'Gujarat Vidhyapith'")
print('Welcome to '+'Gujarat Vidhyapith')

Welcome to 'Gujarat Vidhyapith'
Welcome to Gujarat Vidhyapith

In [7]:
#string written in single or double qoutation
s1 = "Gujarat Vidhyapith"
print(s1)
s2 = 'Gujarat Vidhyapith'
print(s2)
#string is immutable

Gujarat Vidhyapith
Gujarat Vidhyapith

In [8]:
#silce (start, stop, step)
#start by default value is : 0
#stop by default value is : end letter
# step by default value is : 1
s3=slice(1,6)
print(s2[s3])
print(s2[1:5])

ujara
ujar

In [9]:
#or statment
'''OR used in an below expression returns the value of the first oprand that is not a falsy value (False ,0 ," ,[] , ...)
Otherwise it returns the last operand'''

print([] or False)
print('A' or 'B')
print('B' or 'A')
print('k' or 1)
print (1 or 'k')
print('guj' or True)
print(True or 'guj')
print (False or 1.23)

False
A
B
k
1
guj
True
1.23

In [10]:
#and statment
'''AND only rvaluates second argument if the first one is true, so if the first argument is falsy value (False, 0, ", [], ...)
It returns that argument otherwise it evaluted the second argument'''

print (1 and 'T')
print ('T' and 1)
print ({} and 1)
print (False and 1)

T
1
{}
False

In [11]:
#escape sequnce
print("Gujarat Vidyapith")          #simple
print("Gujarat \bVidyapith")          #backspace
print("Gujarat \nVidyapith")          #new line
print("Guj\rarat Vidyapith")          #carriage return
print("Gujarat \tVidyapith")          #horizontal tab
print("Gujarat \'Vidyapith")          #single qoutation
print("Gujarat \"Vidyapith")          #double qoutation
print("Gujarat \\Vidyapith")          #backslash
print("\x67\x76\x70")          #octal representation
print("\107\126\120")          #hexadecimal representation

Gujarat Vidyapith
GujaratVidyapith
Gujarat
Vidyapith
arat Vidyapith
Gujarat 	Vidyapith
Gujarat 'Vidyapith
Gujarat "Vidyapith
Gujarat \Vidyapith
gvp
GVP

In [12]:
#slicing quiz
un = "Gujarat Vidyapith"
print(un[0])          #first letter
print(un[0:3])          #till first three letter
print(un[3:])          #start with third letter
print(un[-1])          #last letter
print(un[-1:])          #last letter
print(un[-14:])          #start with -14 letter
print(un[12:-2])          #start with 12 letter till -2 letter
print(un[2:-12])          #start with 2 letter till -12 letter
print(un[2:5])          #start with 2 letter till 5 letter
print(un[1:5])          #start with 1 letter till 5 letter
print(un[0::2])          #skip one letter after each letter
print(un[::2])          #skip one letter after each letter
print(un[::-1])          #reverse

G
Guj
arat Vidyapith
h
h
arat Vidyapith
api
jar
jar
ujar
GjrtVdaih
GjrtVdaih
htipaydiV tarajuG

In [13]:
#count repeated letter in given sting
un = "Gujarat Vidyapith"
un.count('a')

3

In [14]:
#count word or split word in given string
un = "Gujarat Vidyapith"                        
print(un.split())
print(len(un.split()))

['Gujarat', 'Vidyapith']
2

In [15]:
#replacement format
a = 12                        
b = 21.5
print("{} and {}".format(a,b))     #replace of variable value
print("{} and {}".format("a","b"))     #which value is replace

12 and 21.5
a and b

In [16]:
#replacement format with index
i, j = 14.3, 23                       
print("{1} and {0}".format(i,j))     #replace of variable value
print("{1} and {0}".format("i","j"))     #which value is replace

23 and 14.3
j and i

In [17]:
#type conversion
i = int(2.5)       #float convert into int
j = str(12.6)       #float convert into string
k = float(23)       #int convert float string
print(i)
print(j)
print(k)

2
12.6
23.0

In [18]:
#string padding
print("{} {}".format("gvp", "GVP"))          #by default padding by one space
print("{:5} {}".format("gvp", "GVP"))          #padding with given space
print("{:>5} {}".format("gvp", "GVP"))          #leftside padding with given space
print("{:<5} {}".format("gvp", "GVP"))          #rightside padding with given space (by default for string)

gvp GVP
gvp   GVP
  gvp GVP
gvp   GVP

In [19]:
#numeric padding
print("{} {}".format(2002, 20))          #by default padding by one space
print("{:5} {}".format(2002, 20))          #padding with given space
print("{:>5} {}".format(2002, 20))          #leftside padding with given space (by default for numeric)
print("{:<5} {}".format(2002, 20))          #rightside padding with given space

2002 20
 2002 20
 2002 20
2002  20

In [20]:
#decimal floating point padding
pi = 3.1428
print(pi)
print("{:>5.2f}".format(pi))     #in fractional part write 2 digit
print("{:>10.3f}".format(pi))     #in fractional part write 3 digit

3.1428
 3.14
     3.143

In [21]:
#list
l1 = []
l2 = list()
print(type(l1))              #print type of list
l3 = [1, 'a', 21.5, True]     
print(l3)              #print all elemet of list
print(l3[2])              #print index of 2nd element of list (third element)
print(len(l3))              #print lenght of list
l3[1]="b"              #change element of given index
print(l3)

<class 'list'>
[1, 'a', 21.5, True]
21.5
4
[1, 'b', 21.5, True]

In [22]:
#quiz
l4 = [2, 'A', False, 23.4, "GVP"]
print(l4)              #print all element of list
l4[0] = '10'              #change element of given index
print(l4)              
l4[4] = 'Extra'              #change element of given index
print(l4)
l4.append('Add')              #add element in list at end
print(l4)
l4.insert(2,"B")              #insert element at given index
print(l4)
l4.remove("B")              #remove element at given index
print(l4)
print(l4.index("A"))              #index of given element

[2, 'A', False, 23.4, 'GVP']
['10', 'A', False, 23.4, 'GVP']
['10', 'A', False, 23.4, 'Extra']
['10', 'A', False, 23.4, 'Extra', 'Add']
['10', 'A', 'B', False, 23.4, 'Extra', 'Add']
['10', 'A', False, 23.4, 'Extra', 'Add']
1

In [23]:
help(print)       #help to find any function description

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [24]:
l5 = l3 + l4       #concatenation two list using '+'
print(l5)

[1, 'b', 21.5, True, '10', 'A', False, 23.4, 'Extra', 'Add']

In [25]:
l6 = l3 * 4       #repeated element of list
print(l6)

[1, 'b', 21.5, True, 1, 'b', 21.5, True, 1, 'b', 21.5, True, 1, 'b', 21.5, True]

In [26]:
#quiz
l4 = ['Gujarat', 34, 'K', 3.4, "Vidyapith"]
print(l4[2:4])       #print 2nd and 3rd element of list
print(l4[::-1])       #print reverse list
print(l4[:2:-1])       #print last 2 element reversely

['K', 3.4]
['Vidyapith', 3.4, 'K', 34, 'Gujarat']
['Vidyapith', 3.4]

In [27]:
#sort
l5 = ['a', 'B', 'c', 'f', 'c', 'F']
l5.sort(key=str.lower)              #by default capital alphabet has more priority
print(l5)

['a', 'B', 'c', 'c', 'f', 'F']

In [28]:
l6 = [5, 8.5, 3, 7, 4, 2.3]
l6.sort()              #sort number in ascending order
print(l6)

[2.3, 3, 4, 5, 7, 8.5]

In [29]:
#sorted
l7 = [5, 8.5, 3, 7, 4, 2.3]
print(sorted(l7, reverse=True))               #sort number in descending order

[8.5, 7, 5, 4, 3, 2.3]

In [30]:
l6=[3, 5, 9, 1, -5]
print(max(l6))               #find out max value from list
print(min(l6))               #find out min value from list

9
-5

In [31]:
#tuples
t1 = ('g', 'u', 'j', 'a', 'r', 'a', 't')               #tuples create using ()
t2 = 'g', 'u', 'j', 'a', 'r', 'a', 't'               #tuples create directly
print(t1)
print(t2)

('g', 'u', 'j', 'a', 'r', 'a', 't')
('g', 'u', 'j', 'a', 'r', 'a', 't')

In [32]:
print(t1[2])               #indexing in tuple
print(t1[:2])

j
('g', 'u')

In [33]:
t2 = 1, 2, 5, 'k'               #for create tuple must be have two elements
x = (12)               #if you write one elements its count as any other datatype
y = 2, 4

In [34]:
print(type(t2))
print(type(x))
print(type(y))

<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [35]:
print(t2.index('k'))

3

In [36]:
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hxk', 'ii'], 'j']
print(x[1])          #show 1 index element
print(x[1][1])          #show list within list elements
print(x[1][1:3][1])          #show define indexing element
print(x[1][1:3][0][0])          #show define indexing element list within list  
print(x[3])          #show 3 index element
print(x[3][0])          #print hxk from given list
print(x[3][0:3][0][2])          #print k from given list

['bb', ['ccc', 'ddd'], 'ee', 'ff']
['ccc', 'ddd']
ee
ccc
['hxk', 'ii']
hxk
k

In [37]:
s1 = [1, 2, 3, 'a', 'A', 1, "A"]
s = {1, 'a', 2}
s2 = set(s1)
print(s1)   
print(s)
print(s2)          #list convert into set

[1, 2, 3, 'a', 'A', 1, 'A']
{1, 'a', 2}
{1, 'a', 2, 3, 'A'}

In [38]:
s = set({})          #empty set
print(type(s))
print(s)

<class 'set'>
set()

In [39]:
a = ([1, 2], ['a', 'b', 'c'])
a[1][0] = 7          #chabge element in set
print(type(a))
print(a)

<class 'tuple'>
([1, 2], [7, 'b', 'c'])

In [40]:
s1 = {}          #if blank curly bracket written in syntax count as dictionay
s2 = set({})          #if blank curly bracket written in set constructor it count as set
print(type(s1))
print(type(s2))

<class 'dict'>
<class 'set'>

In [41]:
ss1 = {'cat', 'dog1', 'cow'}
ss2 = {0, 2, 4, 6, 8}
ss3 = {1, 2, 3, 4, 5}
ss4 = {'cat2', 'dog1', 'Dog'}
print(ss1)
print(ss2)
print(ss3)
print(ss4)

#mathematical operations for sets
ss5 = ss2 | ss3         #all elements of both set : union of two sets
print(ss5)         
print(len(ss5))         #lenght of set
ss5 = ss1 - ss4         #minus elements of set B from set A : A - B
print(ss5)
ss5 = ss4 - ss1         #minus elements of set A from set B : B - A
print(ss5)
ss5 = ss1 & ss4         #common elements from both sets : intersection of two sets
print(ss5)
ss5 = ss1 ^ ss4         #symmetrics difference : A union B - A intersect B
print(ss5)
ss5 = ss1 <= ss4         #supset : set A belongs to set B
print(ss5)
ss5 = ss4 >=ss4         #superset : set B belongs to set 1
print(ss5)

{'cat', 'cow', 'dog1'}
{0, 2, 4, 6, 8}
{1, 2, 3, 4, 5}
{'Dog', 'cat2', 'dog1'}
{0, 1, 2, 3, 4, 5, 6, 8}
8
{'cat', 'cow'}
{'cat2', 'Dog'}
{'dog1'}
{'cat2', 'cat', 'cow', 'Dog'}
False
True

In [42]:
#dictionary container
d = dict({1: 'aaa', 2: 'bbb', 3: 'ccc'})      #create dictionary using constructor
print(d)
d1 = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday'}      #create dictionary using sturcture
print(d1)
d1[4] = 'Thrusday'      #add element in dictionary
print(d1)
d1[2] = 'Firday'      #update or modify elements in dictionary
print(d1)
print(d1.get(1))      #get element of dictionary
print(d1.get(2, 'Tuesday'))      #get element from define key dictionary
print(d1.get(6, 'Tuesday'))      #if key is noy found, print by default value 
print(d1.pop(3))      #delete defined element from dictionary
print(d1.popitem())      #delete last element from dictionary
d1.clear()      #clear whole dictionary
print(d1)
del d1      #delete dictionary

{1: 'aaa', 2: 'bbb', 3: 'ccc'}
{1: 'Monday', 2: 'Tuesday', 3: 'Wednesday'}
{1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thrusday'}
{1: 'Monday', 2: 'Firday', 3: 'Wednesday', 4: 'Thrusday'}
Monday
Firday
Tuesday
Wednesday
(4, 'Thrusday')
{}